@media only screen and (max-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: auto;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: none;
        width: 100%;
        text-align: justify;
    }
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 780px) {

}